.L{background:#fbb8b5;padding:0px 6px;color:#c3251d; border-radius:4px;}
.N{background:#afffde;color:#10915c;padding:0px 5px; border-radius:4px;}
.P{background:#a9ecf4;color:#1c7984;padding:0px 6px; border-radius:4px;}
.G{background:#eee29d;color:#998b40;padding:0px 5px; border-radius:4px;}